@import helper._
@import models._
@(userForm: Form[UserEmail], userForm2: Form[UserPassword], user: UserDB, luckyNumbers: List[LuckyNumber])(implicit request: RequestHeader, messages: Messages)
    @main("Details") {

        <div class="container">
            <ul class = "list-group" style="text-align: center">
                <h2>Users details </h2>
                <li class="list-group-item">Username: @user.userName</li>
                <li class="list-group-item">Email: @user.email</li>
            </ul>
            <h1 style="padding-top: 30px;
                text-align: center">Lucky numbers:</h1>
            <ul class="list-inline" style="text-align: center">
            @for(index <- luckyNumbers.indices) {
                <li class="list-inline-item">@luckyNumbers(index).number</li>
            }
            </ul>

        </div>
        @if(request.session.get("logged_user_session").getOrElse("") == user.userName) {

            <div class = "container">
            @form(action = routes.HomeController.changeEmail(user.userName), 'class -> "form-signin") {
                @inputText(userForm("email"), 'class -> "form-control")
                <input type="submit" value="Change email" class="btn btn-lg btn-primary btn-block">
                }
            </div>

        }
        @if(request.session.get("logged_user_session").getOrElse("") == user.userName) {

            <div class = "container">
            @form(action = routes.HomeController.changePassword(user.userName), 'class -> "form-signin") {
                @inputPassword(userForm2("password"), 'class -> "form-control")
                <input type="submit" value="Change Password" class="btn btn-lg btn-primary btn-block">
                }
            </div>

            @if(request.session.get("logged_user_session").getOrElse("") == user.userName) {

                <div class = "container">
                @form(action = routes.HomeController.changeLuckyNumbers(user.userName), 'class -> "form-signin") {
                    <input type="submit" value="Reroll lucky numbers" class="btn btn-lg btn-primary btn-block">
                    }
                </div>
            }
        }
    }