@import play.api.mvc.Request
@import models.UserDB
@(implicit request: play.api.mvc.RequestHeader, user: UserDB, userList: List[UserDB])
@main("Welcome to Play") {


    @if(request.session.get("logged_user_session").getOrElse("") != "") {
        <a href="@routes.HomeController.logout()">Logout</a>
        <h1 style="text-align: center ;
            color: red;">
            Welcome @request.session.get("logged_user_session")
        </h1 >
    } else {
        <a href="@routes.HomeController.login()">Login</a>
        <a href="@routes.HomeController.register()">Register</a>
        <h1 style="text-align: center">
            Welcome Guest
        </h1>
    }

    <div class="container">

        <ul class = "list-group" style="text-align: center;
            padding-top: 50px">
            <h2>List of Users </h2>
            @for(index <- user.all.indices) {
                <li class="list-group-item"><a href="@routes.HomeController.details(userList(index).userName)">@userList(index).userName</a></li>
            }
        </ul>
    </div>


}
